<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>name</key>
  <string>Boceto</string>
  <key>uuid</key>
  <string>B0CE7000-1234-5678-ABCD-B0CE70000001</string>
</dict>
</plist>
